.countdown {
    color: yellow;
    font-size: 30px;
    -unity-font-style: bold;
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(0, 0, 0);
}

.title {
    font-size: 40px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(0, 0, 0);
}
